/* Root defaults & vars */

body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  /* font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal; */
  color: #555;

  --root-bg-color: #e2c663;
  --black: #373737;
  --dark-grey: #444;
  --mid-grey: #555;
  --grey: #666;
  --light-grey: #777;
  --activity-calls: #9B51E0;
  --yellowish-brown: #9f7a00;
  --gold: #ffcd29;
  --silver: #dcdada;
  --bronze: #d58d03;
  --green: #80b24d;

  --leaderboard-column-gap: 20px;
}

.activity-calls-color {
  color: var(--activity-calls);
}
.activity-calls-bg {
  background-color: var(--activity-calls);
}
.gold-color {
  color: var(--gold);
}
.silver-color {
  color: var(--silver);
}
.bronze-color {
  color: var(--bronze);
}
.green-color {
  color: var(--green);
}

a {
  text-decoration: none;
}

::-webkit-scrollbar { 
  display: none; 
}

/* Components */

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}